@{
    Layout = "~/Views/Shared/_LayoutProducts.cshtml";
    ViewBag.Title = "Build Your PC!";
}

<div class="slider_banner col-sm-offset-1 col-xs-12 col-sm-8">
    <h1>_INDEX PAGE_</h1>
    <h4>Some cool slider (in development...)</h4>
    <img src="~/Content/img/slider_banner1.jpg" width="450">
</div>